.dynamic-regex {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: #FFC0CB;
}

.dynamic-regex h1,
.dynamic-regex h2 {
  margin-bottom: 20px;
  color: #FF1493;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid #FF1493;
  background-color: #FF1493;
  color: #fff;
  font-size: 20px;
}

input[type="text"] {
  width: 50%; 
  padding: 10px;
  margin: 10 auto 20px auto; 
  border: none;
  border-bottom: 2px solid #FF1493;
}

.counters {
  display: flex;
  padding: 5px;
  margin: 10 auto 70px auto;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.counters p {
  margin-bottom: 10px;
  flex: 1 0 auto;
  color: #FF1493;
  font-style: italic;
}
